/******COLORS*********/
$orange : #f36f21;
$blue : #007cc3;
$blandBlue : #d0e2ec;
$lightBlue : #e5f2f9;
$grayBlue: #396582;
$greenGray: #ecebe6;
$lightGray: #ccc;
$mediumGray: #646464;
$niceGray: #333;
$green: #358046;
$red: #ba1b13;
$redWhite: #fdeadf;
$white: #fff;
$lightWhite: #f2f2f2;
$black: #000;

/****RESET******/
* {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  .appContent {
    display: grid!important;
    grid-template: 167px auto 130px/1fr;
    height: 100vh;
    & > div.mainContent {
      background: white;
      display: flex !important;
      flex-wrap: wrap;
      & > section.hero {
        flex-basis: 100%;
      }
    }
  }
}
h1 {
  font-size: 34px !important;
  color: $blue !important;
}
h2 {
  font-size: 24px !important;
  color: $blue !important;
  font-weight: bold;
}
h3 {
  font-size: 24px !important;
  color: #333333 !important;
  font-weight: bold;
}
h4 {
  font-size: 20px !important;
  color: $blue !important;
  font-weight: bold;
}



header {
  /****HEADER*******/
  background: $orange;
  .mainHead {
    display: grid;
    grid-template: auto / 1fr 1fr;
    justify-content: space-around;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;
    .logo {
      display: grid;
      grid-template: auto / 1fr;
      align-items: center;
    }
    /******MAIN NAV********/
    .mainNav {
      display: grid;
      grid-template: auto / 1fr;
      align-items: center;
      ul {
        display: grid;
        grid-template: auto / repeat(5, 1fr);
        li {
          list-style: none;
          color: $white;
          text-align: center;
        }
      }
    }
  }
  /*********SUBNAV UNDER MAIN*******/
  .mainSubNav {
    background-color: $lightWhite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    ul {
      display: grid;
      grid-template: auto / repeat(8, auto);
      align-items: center;
      li {
        list-style: none;
        text-align: center;
        input {
          padding: 5%;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

/********HERO*********/
section.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .excursionBox {
    flex-basis: 50%;
    background-color: rgba($white, .9);
    padding: 3% 5%;
    h1 {
      text-align: center;
      color: $orange;
    }
    .excursionSelect {
      display: grid;
      grid-template: auto / 1fr 1fr;
      grid-gap: 20px 50px;
      margin: 3%;
      select {
        border: none;
        background: white;
        border-radius: 0px;
        color: gray;
        height: 50px;
      }
    }
    a {
      text-align: center;
      display: block;
      padding: 2% 1%;
      background-color: $orange;
      color: white;
      text-decoration: none;
      margin: 15px auto 0;
      width: 100px;
    }
  }
}

/********EXCURSIONPAGE********/
section.hero {
  //min-height: 70vh;
  div.excursionHeroBox {
    background: $orange;
    padding: 2% 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h3, p {
      text-align: center;
      color: $white;
    }
    a {
      text-align: center;
      display: block;
      padding: 2% 1%;
      background-color: $white;
      color: $orange;
      text-decoration: none;
      margin: 15px auto 0;
      width: 100px;
    }
  }
}
section.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 100px;
  margin-bottom: 180px;
  /***FILTER***/
  div.filterBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    position: sticky;
    z-index: 1;
    background: $niceGray;
    #filterInput {
      box-sizing: border-box;
      padding: 1%;
      border: 1px solid #ededed;
      text-align: center;
      padding: 1% 0;
      box-sizing: border-box;
      margin-top: 1%;
    }
    #filterOutput {
      font-size: 2em;
      color: $orange;
      font-weight: bold;
      padding: 1% 0;
      box-sizing: border-box;
      #filterLabel {
        font-weight: 100;
        color: $white;
      }
    }
    .filterCheckBoxes {
      color: $white;
    }
  }
  div.destinationContent {
    text-align: center;
    box-sizing: border-box;
    padding: 3%;
    h2 {
      color: $orange;
      margin-bottom: 20px;
    }
    p {
      width: 60%;
      margin: auto;
      display: block;
    }
  }
  .categoryTitle {
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
    color: $orange;
  }
  #categories {
    display: grid;
    grid-template: auto / 1fr;
    grid-gap: 20px;
    .category {
      h2 {
        padding: 3%;
        color: white !important;
        background: #007cc3;
      }
    }
    .subCategories {
      display: grid;
      grid-template: minmax(100px, auto) / 1fr;
      grid-gap: 20px;
      .subCategory {
        //background-color: #ededed;
        //-webkit-box-sizing: border-box;
        //-moz-box-sizing: border-box;
        //box-sizing: border-box;
        //padding: 5%;
        h4 {
          background: #e5f2f9;
          color: $grayBlue;
          padding: 3%;
        }
        .excursion {
          display: grid;
          grid-template: minmax(300px, auto) / 1fr 1fr;
          grid-gap: 50px 40px;
          margin-top: 40px;
          div.excursionBack {
            position: relative;
            background: #f9f9f9;
            -webkit-background-size: 200% !important;
            background-repeat: no-repeat !important;
            background-size: 200% !important;
            display: flex !important;
            flex-wrap: wrap;
            box-shadow: 0px 5px 20px -10px black;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            &:hover {
              box-shadow: 0px 15px 20px -10px #888;
              margin-top: -5px;
              padding-bottom: 5px;
            }
            &>div {

              //padding: 12%;
              flex-basis: 100%;
              box-sizing: border-box;
              display: grid;
              grid-template: minmax(350px, auto) minmax(350px, auto)/ 1fr;
              grid-gap: 20px 20px;
              div.excursionImage {
                -webkit-background-size: cover !important;
                background-size: cover !important;
                background-position: center !important;
              }
              div.excursionContent {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 1% 2%;
                display: grid;
                grid-template: 1fr 2fr 1fr / 1fr;
                text-align: left;
                align-items: center;
                h3 {
                  margin-bottom: 15px;
                  color: $orange;
                }
                p {
                  color: #333;
                }
                p.button {
                  display: inline-block;
                  text-align: center;
                  padding: 2% 1%;
                  background-color: $orange;
                  color: white;
                  text-decoration: none;
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}



/*******FOOTER**********/
.footer {
  background: $orange !important;
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  width: 100%;
  bottom: 0;
}



/*******MEDIA QUERIES******/
@media all and (max-width: 1000px){

  header {
    .mainHead{
      grid-template: auto / 1fr;
    }
  }
  .mainSubNav {
    display: none;
  }
  section.content {
    .destinationContent {
      p {
        width: 80% !important;
        padding-bottom: 10px;
      }
    }
    #categories {
      .subCategories {
        .subCategory {
          .excursion {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
  .footer {
    position: relative !important;
  }
  section.content {
    margin-bottom: 60px !important;
  }
}

@media all and (max-width: 669px){
  .appContent {
    grid-template: auto 1fr auto / 1fr;
  }
  header {
    .mainHead {
      .mainNav {
        ul {
          grid-template: auto / 1fr;
        }
      }
    }
  }
  section.hero {
    .excursionBox {
      .excursionSelect {
        grid-template: auto / 1fr;
      }
    }
  }
  section.content {
    padding: 0 50px !important;
    .destinationContent {
      p {
        width: 90% !important;
      }
    }
  }
}
